{% load i18n %}
<div class="oh-modal__dialog-header pb-0">
    <span class="oh-modal__dialog-title" id="confirmModalLabel">
        {% if designation and designation.id %} {% trans "Update" %} {% else %} {% trans "Create" %} {% endif %}
        {{ verbose_name }}
    </span>
    
    <button class="oh-modal__close" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
    </button>
</div>

<div class="oh-modal__dialog-body">
    <form hx-post="{% if designation and designation.id %}{% url 'designation-update' designation.id %}{% else %}{% url 'designation-create' %}{% endif %}"
        hx-target="{% if dynamic %} #dynamicCreateModalBody {% else %} #designationForm {% endif %}"
        class="oh-profile-section">
        
        {% csrf_token %} 
        {{ form.non_field_errors }}

        <div class="oh-inner-sidebar-content__body">
            <!-- Company Dropdown -->
            <div class="oh-input-group mb-2">
                <label class="mb-1"> {% trans "Company" %} </label>
                {{ form.company_id.errors }}
                {{ form.company_id }}  <!-- Dropdown for selecting a company -->
            </div>

            <!-- Designation Name Field -->
            <div class="oh-input-group mb-2">
                <label class="mb-1">{% trans "Designation Name" %}</label><br>
                {{ form.designation.errors }} 
                <input type="text" name="designation" class="same-width" placeholder="Enter Designation Name" value="{{ form.designation.value|default_if_none:'' }}">
            </div>
        </div>

        <div class="oh-modal__dialog-footer p-0 mt-3">
            <button type="submit" class="oh-btn oh-btn--secondary oh-btn--shadow">
                {% trans "Save" %}
            </button>
        </div>
    </form>
</div>

<style>
    .same-width {
        width: 100%; /* Makes textbox match the dropdown width */
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
